body{
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue', sans-serif;
}
.navBar{
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
}
.active{
    color: white;
    text-decoration: none;
}
.imagen{
    display: flex;
    height: 40vh;
    width: 1519px;
    position: absolute;
    background-image: url(/src/assets/pizza_4.jpg);
    opacity: 0.7;
    /* background-repeat: no-repeat; */
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 30px;
}
.imagen_2{
    height: 40vh;
    width: 100%;
    position: absolute;
    z-index: -2;  
}
.titulo{
    margin-left: 301px;
    text-align: end;
    font-weight: 800;
    font-size: xxx-large;
}
.pizzas{
    display: flex;
}
.contenedor__1{
    position: relative;
    top: 327px;
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
}
.pizzaDetalle{
    width: 38rem;
    position: relative;
    display: flex;
    top: 340px;
    flex-direction: row;
}
.detalle{
    isplay: flex;
    justify-content: center;
}
.circulo{
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: start;
}
.titulo__2{
    position: relative;
    top: 328px;
    text-align: center;
    font-weight: bold;
}
.carcasa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}