.active{
    color: white;
    text-decoration: none;
}
.inActive{
    color: black;
    text-decoration: none;
}
.contenedor{
    margin: 30px 0px 60px 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
main{
    min-height: 100vh;
}
footer{
    background-color: black;
    color: white;
}
.detalle{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.pizzaDetalle{
    width: 500px;
}
.detalle__2{
    background-color: rgba(212, 130, 130, 0.567);
    display: flex;
    width: 390px;
    margin-top: inherit;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 10px;
}
.carrito{
    display: flex;
    text-align: center;
    padding-left: 5px;
    background-color: transparent;
    border-radius: 50%;
}
.circulo{
    background-color: rgb(150, 24, 32);
    color: blue;
    /* border-radius: 45%; */
    width: 10px;
    margin-left: 5px;
    text-align: center;

}